

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background: #0f172a; /* dark blue */
    color: white;
}

/* Section Styling */
section {
    padding: 80px 20px;
    text-align: center;
}

/* Hero Section */
#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to right, #1e3a8a, #9333ea);
}

#hero h1 {
    font-size: 3rem;
}

#hero p {
    margin-top: 10px;
    font-size: 1.2rem;
    opacity: 0.8;
}

/* About */
#about {
    background: #111827;
}

/* Projects */
#projects {
    background: #0f172a;
}

.project-card {
    background: #1f2937;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;

    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
}

/* Contact */
#contact {
    background: #111827;
}